@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

body {
  box-sizing: border-box;
  background-color: #E5E5E5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  color: #100B2B;
  font-size: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.section__text {
  line-height: 32px;
  color: #655B6E;
  font-size: 18px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #E5E5E5;
  margin: 45px 0;
}

.header__row {
  display: flex;
  align-items: center;
}

.header__right {
  justify-content: flex-end;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: #000000;
  font-size: 17px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  margin-right: 40px;
  text-decoration: none;
}

.header__link:hover {
  border-bottom: 1px solid #000000;
}

.header__button {
  color: #FCF8F2;
  font-size: 17px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  background-color: #6140FF;
  padding: 15px 22px;
  border-radius: 2px;
  border: none;
  outline: none;
  transition: 0.5s;
}

.header__button:hover {
  background-color: #FABC32;
  color: #000000;
}

.header__rect {
  width: 25px;
  height: 25px;
  fill: #6140FF;
  transition: all 0.9s ease;
  transform: rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    fill: #6140FF;
  }
  50% {
    transform: rotate(180deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
    fill: #FABC32;
  }
}

.hero {
  background-color: #E5E5E5;
  padding: 121px;
  align-items: center;
}

.hero__item {
  align-items: center;
}

.hero__title {
  color: #000000;
  font-size: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  width: 349px;
}

.hero__text {
  color: #655B6E;
  font-size: 15px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  width: 407px;
  margin-top: 30px;
  line-height: 2;
}

.hero__button {
  background-color: #FABC32;
  padding: 20px 30px;
  color: #FCF8F2;
  font-size: 18px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  margin-top: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: 0.5s;
}

.hero__button:hover {
  background-color: #6140FF;
  color: #FCF8F2;
}

.hero__description {
  color: #655B6E;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.partners .swiper-container {
  height: 80px;
}

.partners .swiper1:last-child {
  margin-right: 0;
}

.screen {
  background-color: #E5E5E5;
  padding: 156px;
}

.screen__item {
  padding-left: 160px;
}

.screen__title {
  color: #100B2B;
  font-size: 38px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  width: 371px;
}

.screen__text {
  color: #655B6E;
  font-size: 15px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  line-height: 2;
  width: 500px;
  margin-top: 30px;
}

.screen__brave {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.screen__description {
  color: #655B6E;
  font-size: 19px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  margin-left: 8px;
  margin: 12px;
}

.screen__button {
  align-items: center;
  color: #FCF8F2;
  font-size: 17px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  background-color: #6140FF;
  padding: 15px 30px;
  border: none;
  outline: none;
  margin-top: 18px;
  border-radius: 4px;
  transition: 0.5s;
}

.screen__button:hover {
  background-color: #FABC32;
  color: #000000;
}

.screen__svg {
  margin-right: 7px;
}

.texas {
  background-color: #100B2B;
}

.texas__title {
  color: #FCF8F2;
  font-size: 30px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  width: 595px;
  padding-top: 120px;
}

.texas__text {
  color: #655B6E;
  font-size: 17px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  margin-top: 29px;
}

.texas__svg {
  margin-top: 26px;
  margin-bottom: 82px;
}

.texas__image {
  margin: 22px 0 32px 60px;
}

.connect {
  padding-top: 125px;
}

.connect__title {
  text-align: center;
}

.connect__description {
  color: #655B6E;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 20px 0 70px;
}

.connect__left {
  padding-top: 32px;
}

.connect__subtitle {
  color: #100B2B;
  font-size: 22px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  align-items: center;
  margin-right: 10px;
}

.connect__text {
  color: #655b6e;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 35px 0 20px;
}

.connect__item {
  display: flex;
  align-items: center;
}

.connect__line {
  width: 385px;
  height: 8px;
  background-color: rgba(16, 11, 43, 0.1);
  border-radius: 10px;
  transition: 0.5s;
  margin: 40px 0 30px 0;
}

.connect__line:hover {
  background-color: #6140FF;
}
