$color-blue:#6140FF;
$color-yellow: #FABC32;
$color-purple:#100B2B;
$color-white:#FCF8F2;
$color-bg:#E5E5E5;
$color-black:#000000;
$color-title:#100B2B;
$color-text: #655B6E;
$color-button:#6140FF;

$font-robo:"Roboto", sans-serif;
$font-inter:"Inter", sans-serif;
